#wrapper-footer {
    background: $grad1;
}

#footer-menu {
    list-style-type: none;

    .menu-item {
        .nav-link {
            padding: 8px 0;
            text-decoration: underline;
        }

        &.current-menu-item {
            .nav-link {
                background: none !important;
            }
        }
    }
    
}