#main-nav {
    padding: 15px 30px;
    border-radius: 36px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    @include media-breakpoint-up(xl) {
        padding: 30px 60px;
        border-radius: 128px;
    }

    .navbar-brand {
        img {
            @include media-breakpoint-down(xxl) {
                max-height: 30px;
                width: auto;
            }
        }
    }

    .menu-item {
        .nav-link {
            color: $deepblue;
            font-size: $h5-font-size;
            transition: background-color .2s;
        }
    }
    
}