// Text
.text-deepblue {
    color: $deepblue;
}

.text-darkgrey {
    color: $darkgrey;
}

// Backgrounds
.bg-deepblue {
    background-color: $deepblue;
}

.bg-lightgrey {
    background-color: $lightgrey;
}

// Gradients
.bg-gradient-blue {
    background: linear-gradient(68.61deg, $hyperblue 0%, $deepblue 100%);
}

.bg-gradient-red {
    background: linear-gradient(180deg, $red 0%, #E42807 100%);
}


