.filter-buttons {
    input {
        display: none;
    
        &:checked + label {
            background: $white;
            color: $black !important;
        }
    }

    label {
        &:focus-visible {
            outline: solid;
            outline-color: $red;
        }
    }

    .filter-list-box {
        @include media-breakpoint-down(sm) {
            max-height: 160px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &::-webkit-scrollbar {
            padding-left: 6px;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: $hyperblue;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: $red;
            border-radius: 8px;
        }
    }
}

#buttonSearch {
    cursor: pointer;
}