.entry-content > .wp-block-group > .wp-block-group,
.entry-content > .wp-block-group > .wp-block-columns,
.content-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include media-breakpoint-up(lg) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}