@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo.woff2') format('woff2-variations');
	font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo-Italic.woff2') format('woff2-variations');
	font-weight: 300 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/Inconsolata.woff2') format('woff2-variations');
	font-weight: 300 700;
    font-display: swap;
}